/* ESTRUTURA DA PÁGINA */
#root > main > div.cadastros {
  display: flex;
  margin: 20px 50px 20px 20px;
}

#root > main > div > div.conteudo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#root > main > div > div > h3 {
  padding: 0 3px;
}

#root > main > div > div > button {
  width: 135px;
  padding: 5px;
  margin: 10px 0;
  display: inline-block;
}

/* MENU LATERAL */
main > div > aside {
  margin-right: 30px;
}

main > div > aside > ul {
  display: flex;
  flex-direction: column;
}

main > div > aside > ul > li {
  width: 150px;
  background-color: #ede2a9;
  margin: 1px;
}

main > div > aside > ul > li > a {
  font-size: 10pt;
  text-align: left;
  padding-left: 20px;
}

main > div > aside > ul > li > a:hover {
  color: #2a95f3;
}

main > div > aside > ul > li > a.active {
  color: #ffffff;
  background-color: #dec85c;
}

/* FORMULÁRIO */
form > * {
  display: block;
  width: 70%;
  box-sizing: border-box;
  padding: 5px;
}

label,
fieldset {
  margin-top: 10px;
}

form > button {
  width: 100px;
  margin: 20px 10px 20px 0;
  display: inline-block;
}

main > div > button {
  width: 100px;
  margin: 10px 0 20px 0;
  display: inline-block;
  padding: 3px;
}

/* TABELA */
table,
th,
td {
  border-collapse: collapse;
  border: 1px solid #aeaeae;
}

table > tr > th,
table > tr > td {
  padding: 3px !important;
}

table{
  text-align: center;
}


table > tr > th:nth-child(2),
table > tr > td:nth-child(2) {
  text-align: left;
  width: 250px;
}

table > tr > th:nth-child(5),
table > tr > td:nth-child(5) {
  text-align: center;
}

table > tr > td > button {
  width: 100px;
  display: inline-block;
  padding: 3px;
  margin-right: 5px;
}
