aside > ul > li{
    background-color: rgb(130, 178, 250);
}

main > div > aside > ul > li > a:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
} 

main > div > aside > ul > li > a.active {
  color: #ffffff;
  background-color: #194096;
}