/* ESTRUTURA DA PÁGINA */
#root > main > div.cadastros {
  display: flex;
  margin: 20px 50px 20px 20px;
}

#root > main > div > div.conteudo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#root > main > div > div > h3 {
  padding: 0 3px;
}


/* MENU LATERAL */
main > div > aside {
  margin-right: 30px;
}

main > div > aside > ul {
  display: flex;
  flex-direction: column;
}

main > div > aside > ul > li {
  width: 150px;
  /* background-color: #ede2a9; */
  margin: 1px;
}

main > div > aside > ul > li > a {
  font-size: 10pt;
  text-align: left;
  padding-left: 20px;
}

/* main > div > aside > ul > li > a:hover {
  color: #2a95f3;
} */

/* main > div > aside > ul > li > a.active {
  color: #ffffff;
  background-color: #dec85c;
} */

/* FORMULÁRIO */


label,
fieldset {
  margin-top: 10px;
}

form > button {
  width: 100px;
  margin: 20px 10px 20px 0;
  display: inline-block;
}

main > div > button {
  width: 100px;
  margin: 10px 0 20px 0;
  display: inline-block;
  padding: 3px;
}


